---
name: per_patch

on:
  workflow_call:

jobs:
  get_qcow:
    runs-on: ubuntu-latest
    env:
      artifact_name: "qcow2-build-artifacts"
    steps:
    - name: Select latest qcow2 artifact
      id: get_artifact_id
      # TODO: implement actual pagination
      # TODO: make it a composite action for reuse
      run: |
        ARTIFACT_ID=$(curl -L --user ${{ github.actor }}:${{ github.token }} \
        --header "Accept: application/vnd.github.v3+json" \
        "https://api.github.com/repos/${{ github.repository }}/actions/artifacts?name=${{ env.artifact_name }}&per_page=100" \
        | jq -r '.artifacts | map(select(.name == "qcow2-build-artifacts")) | sort_by(.updated_at) | .[-1].workflow_run.id')
        echo "artifact_id=$ARTIFACT_ID" >> "$GITHUB_OUTPUT"
    outputs:
      artifact_id: ${{ steps.get_artifact_id.outputs.artifact_id }}

  autorun:
    needs: get_qcow
    runs-on: ubuntu-latest
    timeout-minutes: 35
    env:
      REPOSITORY_TARBALL_PATH: ${{ github.workspace }}/repository.tar.gz
      CI_CFGS_REPOSITORY_PATH: ${{ github.workspace }}/ci/cijoe/configs/autorun_configs
    strategy:
      matrix:
        workflow:
        - autorun_nvme
        - unittest-gcc-container-autotest
        - check-format-container-autotest
        - release-build-gcc-container-autotest
        - doc-container-autotest
        - build-files-container-autotest
        - scan-build-container-autotest
    container:
      image: ghcr.io/refenv/cijoe-docker:v0.9.50
      options: --device=/dev/kvm

    steps:
    - name: Setup PATH
      run: |
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Checkout CI repository
      uses: actions/checkout@v4.1.7
      with:
        path: ci

    - name: Download the SPDK repository
      uses: actions/download-artifact@v4.1.8
      with:
        name: repository

    - name: Extract the SPDK repository
      run: |
        tar xzf repository.tar.gz --strip 1

    - name: Download VM Qcow2 image artifact
      uses: actions/download-artifact@v4.1.8
      with:
        name: qcow2-build-artifacts
        github-token: ${{ github.token }}
        run-id: ${{ needs.get_qcow.outputs.artifact_id }}

    - name: qemu-guest, provision
      run: |
        cd ci/cijoe
        cijoe guest_initialize guest_start guest_check tgz_transfer ci_configs_transfer tgz_unpack output_create \
        --monitor \
        --config configs/qemuhost-with-guest-fedora-40.toml \
        --workflow workflows/autorun_in_qemu.yaml \
        --output report_${{ matrix.workflow }}_prep_guest

    - name: qemu-guest, ${{ matrix.workflow }}
      run: |
        cd ci/cijoe
        cijoe ${{ matrix.workflow }} \
        --monitor \
        --config configs/qemuhost-with-guest-fedora-40.toml \
        --workflow workflows/autorun_in_qemu.yaml \
        --output report_${{ matrix.workflow }}

    - name: qemu-guest, cleanup
      if: always()
      run: |
        cd ci/cijoe
        cijoe output_listing retrieve_autorun_output guest_shutdown \
        --monitor \
        --config configs/qemuhost-with-guest-fedora-40.toml \
        --workflow workflows/autorun_in_qemu.yaml \
        --output report_${{ matrix.workflow }}_cleanup

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4.4.0
      if: always()
      with:
        path: /tmp/autorun_output
        name: ${{ matrix.workflow }}_artifacts

    - name: Upload Report
      uses: actions/upload-artifact@v4.4.0
      if: always()
      with:
        path: |
          ci/cijoe/report_${{ matrix.workflow }}
          ci/cijoe/report_${{ matrix.workflow }}_cleanup
          ci/cijoe/report_${{ matrix.workflow }}_prep_guest
        name: report-${{ matrix.workflow }}-in-qemu
