---
name: SPDK per-patch common tests

# Workflow intended to run tests which can be executed using standard
# Github runners, without any hardware-specific dependencies.

on:
  workflow_dispatch:
    inputs:
      gerrit_ref:
        description: 'Gerrit refspec to test following refs/changes/${change_number: -2}/${change_number}/${patch_set} format'
        required: false
        type: string
        default: ''
  workflow_call:
    inputs:
      client_payload:
        required: false
        type: string
        default: ''

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      client_payload: ${{ inputs.client_payload != '' && fromJson(inputs.client_payload) != '' || '' }}
      gerrit_ref: ${{ inputs.gerrit_ref }}
      spdk_path: './spdk'
    steps:
      # Required to use locally defined actions
    - name: Checkout the spdk-ci repo locally
      uses: actions/checkout@v4.1.7
    - name: Prepare SPDK repo by checking out from Gerrit
      uses: ./.github/actions/checkout_gerrit
      with:
        gerrit_ref: ${{ env.client_payload != '' && env.client_payload.patchSet.ref || env.gerrit_ref }}
        spdk_path: ${{ env.spdk_path }}
      # Placeholder for the actual tests. Replace in future PRs.
    - name: Hello world
      run: |
        echo "Hello!"
    outputs:
      client_payload: ${{ env.client_payload }}

  report:
    # Only run if it was triggered by Gerrit event, with JSON for it
    if: ${{ needs.tests.outputs.client_payload != '' }}
    runs-on: ubuntu-latest
    needs:
    - tests
    steps:
    - name: Report results
      run: |
        set -e

        # Credits to https://github.com/spdk-community-ci/dispatcher/blob/main/.github/workflows/autorun.yml

        VOTE=-1
        if [[ "${{ needs.tests.result }}" == "success" ]]; then
          VOTE=1
        fi

        # For demonstration purposes, as not to set any actual vote and only comment.
        VOTE=0

        curl -L -X POST https://review.spdk.io/a/changes/${{ needs.tests.outputs.client_payload.change.number }}/revisions/${{ needs.tests.outputs.client_payload.patchSet.number }}/review \
        --user "${{ secrets.GERRIT_BOT_USER }}:${{ secrets.GERRIT_BOT_HTTP_PASSWD }}" \
        --header "Content-Type: application/json" \
        --data "{'message': '$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID', 'labels': {'Verified': $VOTE}}" \
        --fail-with-body
